# Node modules
nodepop/node_modules/

app_express/node_modules

# Base de datos
BaseDatos/data/db/*.wt
BaseDatos/data/db/*.lock
BaseDatos/data/db/diagnostic.data
BaseDatos/data/db/journal
BaseDatos/data/db/local
BaseDatos/data/db/wired*
BaseDatos/data/db/*.bson